* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}
body {
  background: #C6CACE;
}
.fx-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5px;
  background: #C6CACE;
}
.fx-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #C6CACE;
}
.all {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  width: 900px;
  /*height: 900px;*/
  background: #fff;
  -webkit-box-shadow:0 0 20px #555;
  -moz-box-shadow:0 0 20px #555;
  box-shadow:0 0 20px #555;
}
.picture-top,.picture-bottom {
  margin: auto;
  width: 850px;
  height: 30px;
  background: #fff;
}
.p-left,.p-right {
  width: 30px;
  height: 30px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #fff;
}
.p-right {
  margin-top: -30px;
  margin-left: 820px;
  border-left: 1px solid #999;
  border-right: 0px;
}
.picture-top1 {
  margin: auto;
  margin-top: 5px;
  width: 800px;
  height: 15px;
  border-bottom: 1px solid #000;
  background: #fff;
}
.text1-speak,.text2-jl1,.text2-jl2,.text2-jl3 {
  margin: auto;
  margin-top: 15px;
  width: 800px;
  background: #fff;
  border-top: 1px solid #888;
}
.text1-speak h3,.text2-jl1 h3,.text2-jl2 h4 {
  text-align: center;
  line-height: 35px;
  background: #fff;
  color: #000;
}
.text1-speak p {
  background: #fff;
  font-size: 15px;
  line-height: 35px;
}
.text2-jl2 {
  border-top: 1px solid #ccc;
}
.text2-jl2 .img1 {
  margin: auto;
  margin-top: 15px;
  width: 100px;
  background: #fff;
}
.text2-jl2 img {
  width: 100px;
}
.text2-jl2 p {
  text-align: center;
  background: #fff;
  font-size: 15px;
  line-height: 30px;
}
.text2-jl2 .t2p1 {
  font-size: 14px;
  color: #999;
}
.text2-jl3 .lb {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 150px;
  height: 15px;
  background: #91CEBE;
}
.text2-jl3 .ft {
  margin: auto;
  width: 75px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-weight: 900;
  background: #fff;
}
.text2-jl3 .tj3nr {
  /*margin-top: 15px;*/
  width: 100%;
  height: 60px;
  background: #fff;
}
.tj3nr-left,.tj3nr-left img {
  height: 60px;
}
.tj3nr-right {
  margin-top: -60px;
  margin-left: 70px;
}
.tj3nr-right p {
  font-size: 14px;
  line-height: 30px;
}
.tj3nr-right .tj3nr-zy {
  color: #555;
}
.text2-jl3 p,.text2-jl3 a,.text2-jl3 span {
  font-size: 14px;
  line-height: 30px;
}
.text2-jl3 a,.text2-jl3 span {
  line-height: 15px;
}
.text2-jl3 .tj3k {
  display: inline-block;
  width: 13px;
  height: 15px;
  background: #91CEBE;
}
.text2-jl3 h4 {
  font-size: 15px;
}
.text2-jl3 .xmjy {
  font-size: 13px;
  line-height: 30px;
}
.text2-jl3 .xmxian {
  margin-top: 10px;
  width: 500px;
  height: 15px;
  border-top: 1px solid #999;
}
.picture-bottom {
  margin-top: 15px;
  padding-bottom: 25px;
}
.picture-bottom .p-left {
  border: 0;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.picture-bottom .p-right {
  border: 0;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}